git+https://github.com/spacetelescope/stsci_rtd_theme.git@master#egg=stsci_rtd_theme
# (install stsci_rtd_theme from master until a post 1.0 release occurs
#  to prevent issues with bullets in the documentation)
numpy >= 1.13
matplotlib
Cython
astropy
sphinx-astropy
poppy
