# GitHub Actions workflow for testing and continuous integration.

name: CI

on:
  push:
  pull_request:

jobs:
  ci_tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:

          - name: Python 3.10
            os: ubuntu-latest
            python: "3.10"

          - name: Python 3.11
            os: ubuntu-latest
            python: 3.11

          - name: Python 3.11 Mac
            os: macos-latest
            python: 3.11

          - name: Python Long
            os: ubuntu-latest
            python: 3.11

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up environment
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: stips
        environment-file: environment.yml
        python-version: ${{ matrix.python }}
        auto-activate-base: false
        miniconda-version: "latest"  # Ensure Miniconda is installed if not found

    - name: Test with tox
      shell: bash -l {0}
      if: ${{ matrix.name != 'Python Long' }}
      run: |
        tox -e test

    - name: Test slow tests with pytest
      shell: bash -l {0}
      if: ${{ matrix.name == 'Python Long' }}
      run: |
        tox -e test-all

  docs_test:
    name: "docs_test"
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up environment
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: stips
        environment-file: environment.yml
        python-version: 3.11
        auto-activate-base: false

    - name: Build Docs
      shell: bash -l {0}
      run: |
        tox -e build_docs
